<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipsterteach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED61C9F31C572E44001EF19A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED61CA071C572E45001EF19A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED61CA121C572E45001EF19A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
